.html {
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.body {
    font-family: arial;
    font-size: 16px;
    margin: 0;
    background: linear-gradient(163deg, rgba(45, 32, 106, 0.707) 0%, rgba(68, 61, 96, 0.921) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 600px;
}

.section__header {
    font-size: 60px;
    text-align: center;

}

.form__field {
    width: 100%;
    margin-bottom: 15px;
    font-size: 20px;
    padding: 8px 15px;
    font-weight: 700;
}

.form__field--active {
    width: 100%;
    padding: 10px 15px;
}

.button {
    width: 200px;
    display: block;
    padding: 10px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    border-radius: 15px;
    background-color: #e62e00;
    color: #fff;
    border: 0;
    cursor: pointer;
}